{% extends "base.html" %}

{% block card_title %}title 1{% endblock %}
{% block card_summary %}subtitle 1{% endblock %}
{% block card_image %}{{ BASE_URL }}/static/img/favico.ico{% endblock %}

{% block contents %}
<article>
    <figure><img src="/static/img/cover_main.png" alt="missing cover image"></figure>
{% filter markdown %}
Read the [blog](/blog) for TAKES on offensive and defensive security, general software/hardware/*ware commentary, and who knows what else (cat pictures). There may occasionally be off-topic posts. I've unfortunately made it easy to push new posts here, so there are no guarantees of proof-reading, quality, or more than a little consideration.
{% endfilter %}

<section class="blog">
    <h2>Blog</h2>
    {% with pages = blog_posts %}
        {% include "_list.html" %}
    {% endwith %}
</section>

{% endblock contents %}
